/* Section Layout Patterns */
.section-two-col {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-3xl);
    align-items: center;
}

@media (min-width: 769px) {
    .section-two-col {
        grid-template-columns: 1fr 1fr;
    }
}

/* Reverse column order on desktop */
.section-two-col-reverse .section-visual {
    order: 1;
}

.section-two-col-reverse .section-text {
    order: 2;
}

/* Section Typography */
.section-title {
    color: var(--color-black);
    font-size: var(--font-size-h2);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: var(--spacing-lg);
}

/* .section-description {
    color: var(--color-grey);
    font-size: var(--font-size-p);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: var(--spacing-md);
} */

.section-description {
    font-size: 14px;
    font-weight: 500;
    color: #000000c5 ;
    line-height: 1.6;
    margin-bottom: 6px;
}

.section-visual-img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Mobile - center by default */
@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
        text-align: center;
    }
    .section-description {
        text-align: center;
        font-size: 1rem;
    }
}

/* Desktop - left align */
@media (min-width: 769px) {
    .section-title {
        font-size: 30px;
        text-align: center !important;
    }
    .section-description {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .section-title { font-size: 36px; }
}

/* Desktop - left align */
@media (min-width: 769px) {
    .section-title-sec {
        color: #19181b;
        font-size: 28px !important;
        font-weight: 600;
        text-align: left ;
        line-height: 35px;
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .section-title-sec { font-size: 36px; }
}

/* Desktop - left align */
@media (min-width: 769px) {
    h2.\.section-title-gig {
        color: #19181b;
        font-size: 30px !important;
        font-weight: 600;
        text-align: left ;
        line-height: 35px;
        width: 95%;
    }
}

@media (min-width: 1200px) {
    h2.\.section-title-gig { 
     font-size: 34px !important;
     line-height: 1.3; 
    }
}

/* Desktop - left align */
@media (min-width: 769px) {
    .section-title-var {
        color: #19181b;
        font-size: 18px !important;
        font-weight: 600;
        text-align: left;
        line-height: 35px;
        width: 95%;
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
    .section-title-var { font-size: 28px; }
}