h1, .h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--spacing-lg);
    color: var(--color-black);
}

h2, .h2 {
    font-size: var(--font-size-h2);
    font-weight: 500;
    line-height: 1;
    margin-bottom: var(--spacing-md);
    color: var(--color-black);
}

h3, .h3 {
    font-size: var(--font-size-h3);
    font-weight: 500;
    line-height: 1;
    margin-bottom: var(--spacing-md);
    color: var(--color-black);
}

h4, .h4 {
    font-size: var(--font-size-h4);
    font-weight: 500;
    line-height: 1;
    margin-bottom: var(--spacing-md);
    color: var(--color-black);
}

h5, .h5 {
    font-size: var(--font-size-h5);
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--spacing-sm);
    color: var(--color-black);
}

h6, .h6 {
    font-size: var(--font-size-h6);
    font-weight: 600;
    line-height: 1;
    margin-bottom: var(--spacing-sm);
    color: var(--color-black);
}

p, .p {
    font-size: var(--font-size-p);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: var(--spacing-md);
    color: var(--color-grey);
}

.p-large {
    font-size: var(--font-size-p-large);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: var(--spacing-md);
    color: var(--color-grey);
}