.signup {
    background-color: var(--color-white);
    padding: 70px 0px 120px 0px;
}

/* Mobile Styles for SignUp */
@media (max-width: 768px) {
    .signup {
        padding: var(--spacing-xl) 0 var(--spacing-2xl) 0;
    }
    
    .signup-text {
        text-align: center;
        padding: 0 var(--spacing-md);
    }
    
    .signup-text .section-title {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .signup-text .section-description {
        font-size: 0.875rem;
        text-align: center;
    }
    
    .signup-features-list {
        margin-right: 0 !important;
        max-width: 100%;
        padding: 0 var(--spacing-md);
    }
    
    .signup-feature-item {
        font-size: 0.8rem;
    }
    
    .signup-actions {
        justify-content: center;
    }
    
    .signup-illustration {
        max-width: 100%;
        margin-top: var(--spacing-xl);
    }
}

/* Text Content */
.signup-text {
    max-width: 100%;
}

/* Features List */
/* .signup-features-list {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
} */

.signup-features-list {
    margin-right: 56px !important;
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 400px;
}

.signup-feature-item {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 8px;
    padding-left: var(--spacing-lg);
    position: relative;
}

.signup-feature-item::before {
    content: '•';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: -2px;
}

/* Call to Action */
.signup-actions {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

/* Visual/Illustration */
.signup-illustration {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-top: var(--spacing-lg);
}


/* Desktop Styles */
@media (min-width: 769px) {
    .signup-text {
        padding-right: var(--spacing-xl);
    }

    .section-description,
    .section-title {
        text-align: left;
    }

    .signup-features-list {
        text-align: left;
    }

    .signup-actions {
        justify-content: flex-start;
    }

    .signup-illustration {
        max-width: 500px;
    }
}

/* Large Desktop */
@media (min-width: 1200px) {
    .section-two-col {
        gap: var(--spacing-3xl);
    }

    .signup-illustration {
        max-width: 95%;
    }
}